.container {
    width: 100%;
    height: auto;
    background-color: lightgray;
}

.usersCardContainer {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 60px 10px 60px;
}
