.container {
    display: flex;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 3px 5px 10px gray;
    margin-bottom: 100px;
    position: sticky;
}

.avatar {
    width: 80px;
    height: 70px;
    border-radius: 10px;
    margin: 10px;

}

.extraUserInfo {
    width: 100%;
    justify-content: flex-start;
}

.userInfoContainer {
    justify-content: flex-start;
    margin: 10px;

}

.userInfoTexts {
    text-align: left;
    margin:0 0 5px 10px ;

}

.messageField {
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #BCBCBC;
    border: none;
    outline: none;
    margin:0 15px 10px 0;

}
